@model IEnumerable<FinaleProjetSeke.Produit>
@{
    ViewBag.Title = "Partview";
}


@if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
        <div class="col-xl-4 col-md-6">
            <div class="product">

                <div class="product_image"><img src="../images/@Html.DisplayFor(modelItem => item.Photo)" alt="" style="weight:260px;height:260px;"></div>
                <div class="product_content">
                    <div class="product_info d-flex flex-row align-items-start justify-content-start">
                        <div>
                            @using (Html.BeginForm("Product", "Seke", FormMethod.Post, new { name = "form1" + i, id = "form1" + i }))
                            {
                                @Html.HiddenFor(modelItem => item.CodeProduit, new { @id = "CodeProd", Value = item.CodeProduit, @Name = "CodeProduit" })
                            }
                            <div>
                                @using (Html.BeginForm("VenteClient", "Seke", FormMethod.Post, new { name = "form" + i, id = "form" + i }))
                                {
                                    <div class="product_name" onClick="document.forms.form1@{@Html.Raw(i);}.submit();"><a href="#">@Html.DisplayFor(modelItem => item.Nom)</a></div>
                                    @Html.HiddenFor(modelItem => item.CodeProduit, new { @id = "CodeProd", Value = item.CodeProduit, @Name = "CodeProduit" })
                                    @Html.HiddenFor(modelItem => item.PrixAncien, new { @id = "PrixAncien", Value = item.PrixAncien, @Name = "PrixAncien" })
                                    @Html.HiddenFor(modelItem => item.QuantiteStock, new { @id = "QuantiteStock", Value = item.QuantiteStock, @Name = "QuantiteStock" })
                                    @Html.HiddenFor(modelItem => item.RabaisVente, new { @id = "RabaisVente", Value = item.RabaisVente, @Name = "RabaisVente" })

                                }
                                <strike> <div class="product_category"> @Html.DisplayFor(modelItem => item.PrixAncien)$</div></strike>
                            </div>
                        </div>
                        <div class="ml-auto text-right">
                            <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                            <div class="product_price text-right">$@Html.DisplayFor(modelItem => item.PrixAchat)<span>.99</span></div>
                        </div>
                    </div>
                    <div class="product_buttons">
                        <div class="text-right d-flex flex-row align-items-start justify-content-start">
                            <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                <div><div><img src="../images/dollar-sign.svg" class="svg" alt="">Acheter</div></div>
                            </div>
                            <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                <div onClick="document.forms.form@{@Html.Raw(i);}.submit();"><div><img src="../images/cart.svg" class="svg" alt=""><div>+</div></div>Ajouter au panier</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        i++;
    }
}

else
{
    <center>
        <p class="alert alert-danger">
            Pas de Produit avec ce Nom!
        </p>
    </center>

}
